:root {
    --links-color: #ff001d;
    --hover-color: #fa760b;
}

html {
    width: 100%;
    height: 100vh;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: 500 !important;
    color:  var(--links-color);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: var(--hover-color);
    text-shadow: 4px 4px 8px rgba(255, 213, 0, 1);
}

.portfolioBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.portfolioBody header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.portfolioBody header a {
    padding: 0 25px 0 25px;
}

.projects-objects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
}

#contactMe {
    display: flex;
    flex-direction: column;
}

#contactMe form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form textarea {
    resize: none;
}

@media (max-width: 480px) {
    .portfolioBody header nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }

    .projects-objects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
    }

    #contactMe {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    #contactMe form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .projects-objects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }
}

.petsBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.petsBody section,
.petsBody a {
    margin-bottom: 50px;
}

.petsGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.petsGallery article {
    max-width: 300px;
    height: 300px;
    overflow: hidden;
}

.petsGallery img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
    transition: transform 0.3s ease-in-out;
}

.petsGallery img:hover {
    transform: scale(1.04);
}

@media (max-width: 480px) {
    .petsGallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .petsGallery img {
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 3px 3px 3px grey;
        transition: transform 0.3s ease-in-out;
    }
}

@media (min-width: 480px) and (max-width: 768px){
    .petsGallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .petsGallery img {
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 3px 3px 3px grey;
        transition: transform 0.3s ease-in-out;
    }
}

