html {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: 500 !important;
    color: #ff001d;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: #fa760b;
    text-shadow: 4px 4px 8px rgba(255, 213, 0, 0.94);
}

.petsBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.petsBody section,
.petsBody a {
    margin-bottom: 50px;
}

.portfolioBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.portfolioBody header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolioBody header a {
    padding: 0 25px 0 25px;
}

#contactMe {
    display: flex;
    flex-direction: column;
}

#contactMe form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form textarea {
    resize: none;
}

.petsGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.petsGallery img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
    transition: transform 0.3s ease-in-out;
}

.petsGallery img:hover {
    transform: scale(1.03);
}

